@import "src/app/scss/variables";

.available-fields__wrapper{
  margin: 60px 30px;
}
.available-fields__item{
  margin: 12px;
}
.button-item{
  @include elementBorder;
  @include elementFont;
  width: 90px;
  height: 30px;
  background-color: $grey;
  text-align: center;
  cursor: pointer;
  color: $white;
}
.input-item{
  @include elementBorder;
  @include elementFont;
  max-width: 350px;
  height: 35px;
  color: $grey;
}
.textarea-item{
  @include elementBorder;
  @include elementFont;
  max-width: 350px;
  height: 120px;
  color: $grey;
}
.select-item{
  @include elementBorder;
  @include elementFont;
  width: 120px;
  height: 35px;
  color: $grey;
}
.checkbox-item{
  width: 16px;
  height: 13px;
}

