.form-builder{
  width: 100%;
  height: 100%;
}
.form-builder-header{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid grey;
}
.added-objects{
  margin: 10px 40px;

}
.button-item{
  width: 90px;
  height: 30px;
  border-style: solid;
  background-color: grey;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.input-item{
  max-width: 425px;
  height: 35px;
  border-style: solid;
  color: grey;
  font-size: 15px;
  font-weight: normal;
  border-radius: 10px;
}
.textarea-item{
  border-radius: 10px;
  max-width: 425px;
  height: 120px;
  border-style: solid;
  font-size: 18px;
  font-weight: bold;
}
.select-item{
  width: 120px;
  height: 35px;
  border-style: solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}
.checkbox-item{
  width: 16px;
  height: 13px;
}
