@import "src/app/scss/variables";

.login-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $mainColor;
  align-items: center;
  justify-content: center;
}

.form-login {
  border: $borderStyle;
  max-width: 400px;
  align-self: center;
  padding: 15px;
  border-radius: 10px;
  background-color: $white;
}

.form-input {
  border-radius: 5px;
  width: 320px;
}

.error-validation {
  color: $errorColor;
}

.btn-submit {
  border: $borderStyle;
  margin: 5px;
  border-radius: 5px;
}

.btn-submit:hover {
  border: 1px solid black;
  color: black;
}




