.accordion{
  height: 100%;
  display: block;
  max-width: 500px;
}
.accordion-header{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid grey;
}
.accordion-item {
  display: block;
  border: solid 1px #ccc;
}
.accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.accordion-item-description {
  font-size: 0.85em;
  color: #999;
}
.accordion-item-header,
.accordion-item-body {
  padding: 16px;
}
.accordion-item-header{
  text-transform: capitalize;
}

.accordion-item-header:hover {
  cursor: pointer;
}

